.navbar {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity))!important;
    color:white;
    text-align:center;
    position:fixed;
    overflow:hidden;
    width:102px;
    left:0;
    height:100%;
}
select {
    text-align:center
}